{cover_enabled, true}.

{ct_cover, true}.
{ct_verbose, true}.

{erl_opts, [{parse_transform, lager_transform}]}.

{eunit_opts, [
    {skip_deps, true},
    verbose
]}.

{profiles, [
    {test, [
        {deps, [{imem, {git, "https://github.com/K2InformaticsGmbH/imem.git", {tag, "1.8.1"}}}]}
    ]}
]}.
