{cover_enabled, true}.

{ct_cover, true}.
{ct_verbose, true}.

{dialyzer_plt_location, local}.
{dialyzer_warnings, [error_handling,
    overspecs,
    race_conditions,
    specdiffs,
    underspecs,
    unknown,
    unmatched_returns
]}.

{erl_opts, [{parse_transform, lager_transform}]}.

{eunit_opts, [
    {skip_deps, true},
    verbose
]}.

{profiles, [
    {test, [
        {deps, [{imem, {git, "https://github.com/walter-weinmann/imem.git", {tag, "1.7.0"}}}]}
    ]}
]}.
